
/**** Variables css ****/
/*https://coolors.co/palette/000000-14213d-fca311-e5e5e5-ffffff */
:root{
    --negro:#000000;
    --azul: #0095EB;
    --amarillo: #FCA311;
    --gris: #E5E5E5;
    --blanco: #FFFFFF;
}

/**** Reset css****/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/**** General ****/
html{
    scroll-behavior: smooth;
}
body{
    background-color: var(--negro);
}
#container{
    margin: 0px auto;
    height: 100vh;
    background-color: var(--blanco);
    width: 80%;
    max-width:1280px;
    
}

header{
    background-color: var(--negro);
    color: var(--gris);
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.logo{
   border-radius: 50%;
   width: 70px;
}

nav ul{
    list-style-type: none;
    display: flex;
    
    
}
nav ul li a{
    text-decoration: none;
    color: var(--blanco);
    margin-left: 10px;
}
nav ul li a:hover{
    color: var(--azul);
}



