
/**** Variables css ****/
/*https://coolors.co/palette/000000-14213d-fca311-e5e5e5-ffffff */
:root{
    --negro:#000000;
    --azul: #0095EB;
    --amarillo: #FCA311;
    --gris: #E5E5E5;
    --blanco: #FFFFFF;
}

/**** Reset css****/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/**** General ****/
html{
    scroll-behavior: smooth;
}

#container{
    margin: 0px auto;
    height: 100vh;
    background-color: var(--blanco);
    width: 80%;
    max-width:1280px;
    
}

header{
    background-color: var(--negro);
    color: var(--gris);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 120px;
    font-size: 1.2rem;
    
}
.logo{
   border-radius: 50%;
   width: 70px;
}

nav ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    
    
}
nav ul li a{
    text-decoration: none;
    color: var(--blanco);
    margin-left: 30px;
}
nav ul li a:hover{
    color: var(--azul);
}

#heroImage{
    padding: 30px 120px;
    background-image: url("../img/poster3.jpg");
    height: 50vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    display: flex;
    align-items: center;  
}
#heroImage p{
    margin-bottom: 5px;
    color: var(--blanco);
    font-weight: 700;
}

h1{
   color: var(--blanco);
   font-size: 1.8rem;
   font-weight: 800;
   margin-bottom: 10px;
}

.btnComprar{
    display: inline-block;
    margin-top: 15px;
    background-color: var(--amarillo);
    border-style: none;
    font-size: 1.2rem;
    padding: 10px 20px;
    border-radius: 5px;
    transition: ease 1s;
    text-decoration: none;
    color: var(--negro);
}
.btnComprar:hover{
    background-color: var(--negro);
    color: var(--azul); 
    
}

/***** Section Características *****/
h2{
    text-align: center;
}
#caracteristicas{
    background-color: var(--blanco);
    padding: 30px 120px;
    color: #000000;
}
#caracteristicas div{
    display: flex;
    justify-content: space-between;
   
}
#caracteristicas div div{
    flex-direction: column;
   
   
}
.contenedorIzquiero{
    width: 33%;
}
.cardCaracteristicas {
   
    color: #000000;
}
.cardCaracteristicas img{
    width: 50px;
}
.contenedorDerecho{
    width: 33%;
}
/***** Section Galería *****/
#galeria{
    background-color: var(--gris);
}