/*https://coolors.co/palette/000000-14213d-fca311-e5e5e5-ffffff */

/**** Reset css****/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/**** General ****/
html{
    scroll-behavior: smooth;
}
body{
    background-color: black;
}
#container{
    margin: 0px auto;
    height: 100vh;
    background-color: aqua;
    width: 80%;
    max-width:1280px;
}



